In [1]:
#pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (2.1.2)
Requirement already satisfied: openpyxl in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (3.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ferna\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\ferna\anaconda3\envs\mientornn\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\ferna\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
# Cargar el archivo Excel
ruta_excel = "C:/Users/ferna/OneDrive - Universitat de les Illes Balears/PER/Avicultura/categorias analisis avicultura.xlsx"

# Obtener los nombres de todas las hojas del archivo Excel
analisis_avicultura = pd.ExcelFile(ruta_excel).sheet_names

In [4]:
# Crear un diccionario para almacenar los dataframes generados
dfs = {}

# Bucle para leer cada hoja y crear los dataframes
for explotacion in analisis_avicultura:
    # Cargar los datos de la hoja actual
    datos_aves = pd.read_excel(ruta_excel, sheet_name=explotacion)

    # Crear los diferentes dataframes con las columnas y filas especificadas
    dfs[f"{explotacion}_ECREA"] = datos_aves.iloc[0:43, 0:3]
    dfs[f"{explotacion}_RECAN"] = datos_aves.iloc[:, 5:7]
    dfs[f"{explotacion}_SAU"] = datos_aves.iloc[0:3, 10:13]
    dfs[f"{explotacion}_Mano_Obra_asalariada"] = datos_aves.iloc[0:5, 16:25]
    dfs[f"{explotacion}_Mano_Obra_no_asalariada"] = datos_aves.iloc[0:5, 25:33]

# Imprimir las claves del diccionario generado
print("Claves generadas en el diccionario dfs:", dfs.keys())

Claves generadas en el diccionario dfs: dict_keys(['Explotación_1 _ECREA', 'Explotación_1 _RECAN', 'Explotación_1 _SAU', 'Explotación_1 _Mano_Obra_asalariada', 'Explotación_1 _Mano_Obra_no_asalariada', 'Explotación_2_ECREA', 'Explotación_2_RECAN', 'Explotación_2_SAU', 'Explotación_2_Mano_Obra_asalariada', 'Explotación_2_Mano_Obra_no_asalariada', 'Explotación_3_ECREA', 'Explotación_3_RECAN', 'Explotación_3_SAU', 'Explotación_3_Mano_Obra_asalariada', 'Explotación_3_Mano_Obra_no_asalariada', 'Explotación_4_ECREA', 'Explotación_4_RECAN', 'Explotación_4_SAU', 'Explotación_4_Mano_Obra_asalariada', 'Explotación_4_Mano_Obra_no_asalariada'])

In [5]:
# Realizar el merge de los dataframes generados, como en R con left_join
datos_ecrea = dfs['Explotación_1 _ECREA'].merge(dfs['Explotación_2_ECREA'], 
                                               on=["Categoria", "Contabilidad"], 
                                               suffixes=('_Explotacion1', '_Explotacion2'))

datos_ecrea = datos_ecrea.merge(dfs['Explotación_3_ECREA'], 
                                on=["Categoria", "Contabilidad"], 
                                suffixes=('', '_Explotacion3'))

datos_ecrea = datos_ecrea.merge(dfs['Explotación_4_ECREA'], 
                                on=["Categoria", "Contabilidad"], 
                                suffixes=('', '_Explotacion4'))
datos_ecrea = datos_ecrea.drop_duplicates()
datos_ecrea

,Categoria,Contabilidad,Explotacion_1,Explotacion_2,Explotacion_3,Explotacion_4
0,1.0,VENTAS,0.0,0.0,0.0,0.0
1,0.0,Broilers,0.0,0.0,0.0,0.0
2,0.0,Huevos,0.0,0.0,0.0,0.0
3,0.0,Otros productos,0.0,0.0,0.0,0.0
4,2.0,SUBVENCIONES ACOPLADAS,0.0,0.0,0.0,0.0
5,0.0,Subvenciones acopladas,0.0,0.0,0.0,0.0
6,3.0,OTROS INGRESOS,0.0,0.0,0.0,0.0
7,0.0,Autoconsumo,0.0,0.0,0.0,0.0
8,0.0,Reempleo,0.0,0.0,0.0,0.0
9,0.0,Variación de inventario,0.0,0.0,0.0,0.0
10,4.0,PRODUCTO BRUTO (1+2+3),0.0,0.0,0.0,0.0
18,5.0,TOTAL COSTES DIRECTOS,0.0,0.0,0.0,0.0
19,0.0,Alimentación para el ganado,0.0,0.0,0.0,0.0
20,0.0,Gastos veterinarios,0.0,0.0,0.0,0.0
21,0.0,Energía,0.0,0.0,0.0,0.0
22,0.0,Compras de animales y otros costes,0.0,0.0,0.0,0.0
23,6.0,MAQUINARIA,0.0,0.0,0.0,0.0
24,0.0,Trabajos contratados,0.0,0.0,0.0,0.0
25,0.0,Carburantes y lubricantes,0.0,0.0,0.0,0.0
26,0.0,Reparaciones y repuestos,0.0,0.0,0.0,0.0
27,7.0,MANO DE OBRA ASALARIADA,0.0,0.0,0.0,0.0
28,0.0,Mano de obra asalariada,0.0,0.0,0.0,0.0
29,8.0,TOTAL COSTES INDIRECTOS PAGADOS,0.0,0.0,0.0,0.0
30,0.0,Seguros de capitales propios,0.0,0.0,0.0,0.0
31,0.0,Intereses y gastos financieros,0.0,0.0,0.0,0.0
32,0.0,Canon de arrendamiento,0.0,0.0,0.0,0.0
33,0.0,Contribuciones e impuestos,0.0,0.0,0.0,0.0
34,0.0,Conservación de edificios y mejoras,0.0,0.0,0.0,0.0
35,0.0,Otros gastos generales,0.0,0.0,0.0,0.0
36,9.0,AMORTIZACIONES,0.0,0.0,0.0,0.0
37,0.0,Amortizaciones,NaN,NaN,NaN,NaN
38,10.0,TOTAL OTROS COSTES INDIRECTOS,NaN,NaN,NaN,NaN
39,0.0,Renta de la tierra,0.0,0.0,0.0,0.0
40,0.0,Intereses de otros capitales propios,0.0,0.0,0.0,0.0
41,0.0,Mano de obra familiar,NaN,NaN,NaN,NaN
42,11.0,SUBTOTAL COSTES (4+5+6+7+9),0.0,0.0,0.0,0.0
43,0.0,RESULTADOS,0.0,0.0,0.0,0.0
44,16.0,MARGEN BRUTO STÁNDARD (4-5),0.0,0.0,0.0,0.0
45,17.0,MARGEN BRUTO (16-6-7),0.0,0.0,0.0,0.0
46,18.0,RENTA DISPONIBLE (17-8),0.0,0.0,0.0,0.0
47,19.0,MARGEN NETO (18-9),NaN,NaN,NaN,NaN
48,20.0,BENEFICIO (19-12),NaN,NaN,NaN,NaN

In [6]:
# Repetir el proceso para RECAN y Préstamos
datos_recan = dfs['Explotación_1 _RECAN'].merge(dfs['Explotación_2_RECAN'], 
                                               on="Variable", 
                                               suffixes=('_Explotacion1', '_Explotacion2'))

datos_recan = datos_recan.merge(dfs['Explotación_3_RECAN'], 
                                on="Variable", 
                                suffixes=('', '_Explotacion3'))

datos_recan = datos_recan.merge(dfs['Explotación_4_RECAN'], 
                                on="Variable", 
                                suffixes=('', '_Explotacion4'))

datos_recan = datos_recan.drop_duplicates()
datos_recan

,Variable,Explotacion_1.1,Explotacion_2.1,Explotacion_3.1,Explotacion_4.1
0,Estiercol(kg),0.0,0.0,0.0,0.0
1,Otras servicios(€),0.0,0.0,0.0,0.0
2,Inventario 01/01(Nº animales),0.0,0.0,0.0,0.0
3,Inventario 31/12(Nº animales),0.0,0.0,0.0,0.0
4,Producción dedicada a autoconsumo(Nº animales),0.0,0.0,0.0,0.0
...,...,...,...,...,...
135,Ganancia Media de Peso Diaria (GMPD),NaN,0.0,0.0,0.0
162,Unifomidad del Lote (UL),NaN,0.0,0.0,0.0
189,Índice de Eficiencia Productiva (IEP),NaN,0.0,0.0,0.0
216,Retorno de la Inversión (ROI),NaN,0.0,0.0,0.0
243,Ratio de eficiencia alimentaria (REA),NaN,0.0,0.0,0.0